 * {
     margin: 0;
     padding: 0;
 }
 
 html,
 body {
     height: 100%;
 }
 
 body {
     font-family: Verdana;
     font-size: 15px;
     background-color: #7f7f7f;
 }
 
 header {
     background-color: white;
 }
 
 a {
     text-decoration: none;
     color: black;
 }
 
 #lista {
     list-style-type: none;
     display: flex;
     align-items: center;
     max-width: 75%;
     margin: 0 auto;
     justify-content: space-around;
     line-height: 40px;
 }
 
 nav {
     font-size: 23px;
     background-color: #ff1493;
 }
 
 nav a {
     display: block;
     text-decoration: none;
     padding: 10px;
     color: white;
 }
 
 nav a:hover {
     border: 1px solid;
     background-color: white;
     color: #ff1493;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
 }
 
 .racun a:hover {
     color: #ff1493;
 }
 
 .trazi {
     margin-left: 100px;
 }
 
 h1,
 h2 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 25px;
 }
 
 section {
     max-width: 80%;
     margin: 140px auto;
 }
 
 img {
     border: 1px solid white;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     width: 100%;
 }
 
 .kontakt {
     display: flex;
     justify-content: space-around;
     text-align: center;
 }
 
 .container {
     min-height: 100%;
     color: white;
 }
 
 .container2 {
     display: flex;
     justify-content: space-between;
     width: 85%;
     margin: 0 auto;
 }
 
 .container5 {
     width: 85%;
     margin: 0 auto;
 }
 
 #usluga,
 #hometekst1 {
     width: 47%;
 }
 
 .gore {
     display: flex;
     justify-content: space-around;
     align-items: end;
     text-align: right;
     width: 100%;
 }
 
 .opis {
     width: 80%;
     margin: 0 auto;
     margin-top: 60px;
 }
 
 .racun {
     margin-left: auto;
     margin-right: 70px;
     margin-top: 30px;
     font-size: 25px;
 }
 
 .dva {
     display: flex;
 }
 
 .onama {
     width: 30%;
 }
 
 #hometekst {
     width: 47%;
     margin-right: 50px;
 }
 
 .opisi {
     width: 60%;
     margin: 0 auto;
 }
 
 .uvod {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 
 .pocetak {
     display: flex;
     max-width: 75%;
     margin: 0 auto;
 }
 
 #kontakt {
     padding: 15px 70px;
     width: 30%;
 }
 
 #home,
 .dva,
 #ime,
 #prezime {
     width: 45%;
 }
 
 .tekst h2,
 .kont h2 {
     margin-top: 5px;
     margin-bottom: 15px;
 }
 
 #funkcije {
     padding: 10px;
     line-height: 2;
 }
 
 #about {
     width: 100%;
 }
 
 #opisano,
 #opisano1,
 .tekst,
 .kont {
     line-height: 1.4;
 }
 
 #opisano1 {
     margin-top: 45px;
 }
 
 #opisano,
 #opisano1,
 .tekst,
 .opis,
 .kont {
     background-color: #ff1493;
     padding: 15px;
     border: 1px solid;
     border-radius: 30px;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     -ms-border-radius: 30px;
     -o-border-radius: 30px;
 }
 
 .kont {
     height: 100%;
 }
 
 i {
     margin: 10px 0;
 }
 
 .logo {
     width: 70%;
 }
 
 .ime {
     width: 30%;
 }
 
 #tier {
     width: 90%;
 }
 
 form {
     width: 50%;
     margin: 70px auto;
 }
 
 form h1 {
     padding-bottom: 30px;
 }
 
 form label,
 form input,
 form button {
     margin-bottom: 3px;
     display: block;
     width: 100%;
 }
 
 form input {
     line-height: 40px;
     color: #000;
     padding: 0 6px;
     margin: 25px 0;
     box-sizing: border-box;
 }
 
 ul input[type=text] {
     line-height: 35px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }
 
 #ime {
     float: left;
 }
 
 #gumb {
     line-height: 45px;
     background: #35b5e7;
     color: #fff;
     cursor: pointer;
     border: 0;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     width: 25%;
 }
 
 .forma {
     border: 1px solid;
     border-radius: 30px;
     width: 70%;
     margin: 80px auto;
     background-color: #ff1493;
 }
 
 footer {
     background-color: #ff1493;
     color: white;
     font-size: 17px;
 }
 
 .container1 {
     display: flex;
     justify-content: center;
     padding: 30px 0;
 }
 
 .podnozje {
     text-align: center;
     line-height: 1.7;
 }
 
 @media (max-width: 820px) {
     ul {
         flex-direction: column;
         gap: 30px;
         padding: 0 40px 40px;
     }
     .uvod,
     .dva,
     .container2 {
         display: block;
         justify-content: center;
         width: 90%;
         margin: 0 auto;
     }
     #hometekst,
     #hometekst1,
     #home {
         width: 100%;
         margin-top: 30px;
     }
     #usluga,
     .onama,
     #gumb,
     .forma {
         width: 100%;
     }
     #usluga {
         margin-top: 50px;
     }
     .kontakt {
         flex-direction: column;
     }
     #kontakt {
         width: 100%;
         padding: 15px 0;
     }
     #opisano,
     #opisano1 {
         width: 100%;
         margin-top: 25px;
     }
     #ime,
     #prezime {
         width: 50%;
     }
 }
 
 @media(max-width: 1000px) {
     .uvod {
         flex-direction: column;
     }
     .dva,
     #home {
         margin-top: 30px;
         width: 90%;
     }
 }